---
http_interactions:
- request:
    method: get
    uri: https://masterofallscience.com/api/search?q=Listen,%20Morty
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"Id":18773,"Episode":"S01E04","Timestamp":156948},{"Id":119418,"Episode":"S02E09","Timestamp":736486},{"Id":58341,"Episode":"S01E10","Timestamp":981314},{"Id":58335,"Episode":"S01E10","Timestamp":980062},{"Id":58336,"Episode":"S01E10","Timestamp":980271},{"Id":2245,"Episode":"S01E01","Timestamp":486236},{"Id":135035,"Episode":"S03E02","Timestamp":16808},{"Id":119076,"Episode":"S02E09","Timestamp":662036},{"Id":58331,"Episode":"S01E10","Timestamp":979437},{"Id":93694,"Episode":"S02E05","Timestamp":566524},{"Id":119411,"Episode":"S02E09",[...]
- request:
    method: get
    uri: https://masterofallscience.com/api/caption?e=S01E04&t=156948
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"Episode":{"Id":5,"Key":"S01E04","Season":1,"EpisodeNumber":4,"Title":"M.
        Night Shaym-Aliens!","Director":"Jeff Myers","Writer":"Tom Kauffman","OriginalAirDate":"13-Jan-14","WikiLink":""},"Frame":{"Id":18773,"Episode":"S01E04","Timestamp":156948},"Subtitles":[{"Id":1967,"RepresentativeTimestamp":154654,"Episode":"S01E04","StartTimestamp":154238,"EndTimestamp":155321,"Content":"Ugh!
        Take a shower with me, Morty.","Language":"en"},{"Id":1968,"RepresentativeTimestamp":155697,"Episode":"S01E04","StartTimestamp":155405,"EndTimestamp":156239,"Content":"What?!","Language":"en"},{"Id":1969,"RepresentativeTimestamp":156740,"Episode":"S01E04","StartTimestamp":156323,"EndTimestamp":157532,"Content":"Listen
        to me, Morty.","Language":"en"},{"Id":1970,"RepresentativeTimestamp":158408,"Episode":"S01E04","StartTimestamp":157616,"EndTimestamp":159408,"Content":"Get
        your clothes off and get in the shower right now.","Language":"en"}],"Nearby":[{"Id":18769,"Episode":"S01E04","Timestamp":156323},{"Id":18770,"Episode":"S01E04","Timestamp":156531},{"Id":18771,"Episode":"S01E04","Timestamp":156740},{"Id":18773,"Episode":"S01E04","Timestamp":156948},{"Id":18772,"Episode":"S01E04","Timestamp":157157},{"Id":18774,"Episode":"S01E04","Timestamp":157366},{"Id":18775,"Episode":"S01E04","Timestamp":157574}]}'
  recorded_at: Mon, 18 Mar 2019 23:41:19 GMT
recorded_with: VCR 4.0.0
